{% extends 'base.html' %}

{% block title %}Page not found | {{ config.title }}{% endblock title %}
{% block description %}The requested page could not be found on {{ config.title }}.{% endblock description %}
{% block og_title %}Page not found | {{ config.title }}{% endblock og_title %}
{% block og_description %}The requested page could not be found on {{ config.title }}.{% endblock og_description %}

{% block syntax_stylesheets %}{% endblock syntax_stylesheets %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">HTTP 404</h1>
      <p class="subtitle is-4">
        It seems you are looking for something that I don't have.
      </p>
      {% if config.extra.author.avatar %}
      {{ macros::author_avatar(author=config.extra.author) }}
      {% endif %}
      {{ macros:: social_links( social_config=config.extra.social) }}
      <p class="my-6">
        <a href='{{ config.base_url }}'>
          <span class="icon">
            {{ macros::icon(name="home") }}
          </span>
          <span>Home</span>
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
