{% extends "base.html" %}

{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}
{% block og_description %}{{ section.description | default(value=config.description) }}{% endblock og_description %}

{% block syntax_stylesheets %}
{% if section.content is containing('class="giallo') %}{{ super() }}{% endif %}
{% endblock syntax_stylesheets %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}</p>
      {% if config.extra.author.avatar %}
      {{ macros::author_avatar(author=config.extra.author) }}
      {% endif %}
      {{ macros:: social_links( social_config=config.extra.social) }}
    </div>
    <div class="content">
      {{ section.content | replace(from="<h1", to="<h2") | replace(from="</h1>", to="</h2>") | safe }}
    </div>
  </div>
</section>
{% endblock %}
